*, *:before, *:after {
  box-sizing: border-box;
}
body {
 background-color: #f5f5f5;
 color: #333;
 font-size: 14px;
 line-height: 20px;
 font-family: "Ubuntu", "Times", sans-serif;
 min-width: 320px;
}
a {
  text-decoration: none;
  transition: all 0.3s linear 0s;
}
h1,h2,h3,h4,h5 {
  font-family: "Bebas", "Times", sans-serif;
}

html,body {
  height: 100%;
}
main {
  flex-grow: 1;
}
body{
  display: flex;
  flex-direction: column;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: 100%;

}
