@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasRegular.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuRegular.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
