@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin link {
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}

@mixin inner {
  position: relative;
  margin: 0 auto;
  max-width: 960px;

}

