
// Variables
$navbar-height:              80px;
$navbar-background:          #f4f4f4;
$navbar-border:              #ddd;

$navbar-collapse-breakpoint: 890px;

$navbar-item-font-size:      14px;
$navbar-item-border-width:   16px;
$navbar-item-color:          #515862;
$navbar-item-active-color:   #fff;
$navbar-item-border:         transparent;
$navbar-item-active-border:  #0080b7;
$navbar-item-background-color: #f4f4f4 ;
$navbar-item--active-background-color:#12a3d6  ;

// Сетка
.area {
  position: relative;

  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-flow: row nowrap;
  align-items: stretch;
  // @media (min-width: 768px) { max-width: 750px; }
  // @media (min-width: 992px) { max-width: 970px; }
  // @media (min-width: 1200px) { max-width: 1140px; }

}
.navbar-component {
  background-color: $navbar-background;
  &__input {
    height: $navbar-height/2;
    line-height: $navbar-height/2;
    background-color: $navbar-background;
    outline: none;
    border: none;
    &:hover,&:focus{
          outline: none;
          border: none;
        }
  }

  &__navbar {
    justify-content: space-between;
  }
  &__brand {
    display: inline-block;
    // font-size: 16px;
    // color: #777;
    // margin: round(($navbar-height - 20) / 4);
    width: 150px;
    height: $navbar-height;
    line-height: $navbar-height;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
  }

  &__list {
    display: flex;
    flex-flow: row ;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
  }
  &__item {
    display: block;
    flex-shrink: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    padding-left: round(($navbar-height - 20) / 4);
    padding-right: round(($navbar-height - 20) / 4);
    text-transform: uppercase;
    color: $navbar-item-color;
    font-size: $navbar-item-font-size;

  }

  &__input-wrapper {
    padding-left: round(($navbar-height - 20) / 4);
    padding-right: round(($navbar-height - 20) / 4);
  }
  &__link {
    // line-height: ($navbar-height +$navbar-item-border-width);
    color: $navbar-item-color;
    border-bottom: $navbar-item-border-width solid $navbar-item-border;


    &:hover,
    &:focus {
      text-decoration: none;
      background:$navbar-item--active-background-color;
      color: $navbar-item-active-color;
      border-bottom-color: $navbar-item-active-border;
    }
    &--blog {
      display: block;
      margin-left: 8px;
      flex-shrink: 0;
      height: $navbar-height/2;
      line-height: $navbar-height/2;
      padding-left: round(($navbar-height - 20) / 2);
      padding-right: round(($navbar-height - 20) / 2);
      text-transform: uppercase;
      // line-height: ($navbar-height +$navbar-item-border-width);
      background: #f98561;
      color: #fff;
      border-radius: 5px;
      &.-active,
      &:hover,
      &:focus {

        background: darken($color: #f98561, $amount: 10);
        border-bottom-color: none;
        text-decoration: none;
        color: $navbar-item-active-color;
     }
    }
    &--active{
      background: darken($color: #f98561, $amount: 10);
      color: #fff;
      pointer-events: none;

    }
}
  &__toggle {
    border: 0;
    background-color: transparent;
    // display: inline-block;
    display: none;
    outline: none;
    border: 0;
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    padding: round(($navbar-height - 20) / 2);
    &.-active .navbar-component__hamburger-icon {
      @include hamburger-animation();
    }
    &.-active,
    &:hover,
    &:focus{
      outline: none;
    }
  }

  &__hamburger-icon{
    @include hamburger-generator(24px, 3px, 5px, $navbar-item-color, $timing-function: linear);
   }

}



  @media (max-width: $navbar-collapse-breakpoint) {

    .navbar-component {
      &__item,&__blog,&__input-wrapper {
        display: none;
      }
      &__brand {
        margin-left:30px ;
      }
      &__list {
        position: fixed;
        align-items: center;
        justify-content: center;
        top: $navbar-height;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
         background: $navbar-background;
      }

      &__list.-on {
        position: absolute;

        flex-direction:column;
        padding:0 15px;
        z-index: 100;
        & > .navbar-component__item,.navbar-component__blog,.navbar-component__input-wrapper {
          display:block;
          text-align: center;
          width:100%;
          height:34px;
          line-height:34px;
          padding:0;
          margin-bottom: 5px;
        }
      }
      &__input-wrapper {

        margin-bottom: 5px;
      }
      &__input {
        width: 90%;
        outline: none;
        outline: none;
        border: none;
        &:hover,
        &:focus{
          outline: none;
          border: none;
        }
      }

      &__toggle {
        display: inline-block;
      }
    }
  }
