
$bg-main : #f4f4f4;
$font-color-gray : #94979b;
$font-color-light-Gray : #515862;
$accent-color-blue : #2190c1;
$accent-color-orange : #f98561;
$border-bottom-link : #0080b7;
$bg-footer: #2e3e4f;
$font-color-footer : #a3afb2;
$bg-nav-link: #12a3d6;

