// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-fb-name: 'sprite_fb';
$sprite-fb-x: 0px;
$sprite-fb-y: 0px;
$sprite-fb-offset-x: 0px;
$sprite-fb-offset-y: 0px;
$sprite-fb-width: 45px;
$sprite-fb-height: 44px;
$sprite-fb-total-width: 131px;
$sprite-fb-total-height: 88px;
$sprite-fb-image: '../img/sprite.png';
$sprite-fb: (0px, 0px, 0px, 0px, 45px, 44px, 131px, 88px, '../img/sprite.png', 'sprite_fb', );
$sprite-g-plus-name: 'sprite_g-plus';
$sprite-g-plus-x: 45px;
$sprite-g-plus-y: 0px;
$sprite-g-plus-offset-x: -45px;
$sprite-g-plus-offset-y: 0px;
$sprite-g-plus-width: 43px;
$sprite-g-plus-height: 44px;
$sprite-g-plus-total-width: 131px;
$sprite-g-plus-total-height: 88px;
$sprite-g-plus-image: '../img/sprite.png';
$sprite-g-plus: (45px, 0px, -45px, 0px, 43px, 44px, 131px, 88px, '../img/sprite.png', 'sprite_g-plus', );
$sprite-linkedin-name: 'sprite_linkedin';
$sprite-linkedin-x: 0px;
$sprite-linkedin-y: 44px;
$sprite-linkedin-offset-x: 0px;
$sprite-linkedin-offset-y: -44px;
$sprite-linkedin-width: 43px;
$sprite-linkedin-height: 44px;
$sprite-linkedin-total-width: 131px;
$sprite-linkedin-total-height: 88px;
$sprite-linkedin-image: '../img/sprite.png';
$sprite-linkedin: (0px, 44px, 0px, -44px, 43px, 44px, 131px, 88px, '../img/sprite.png', 'sprite_linkedin', );
$sprite-tw-name: 'sprite_tw';
$sprite-tw-x: 43px;
$sprite-tw-y: 44px;
$sprite-tw-offset-x: -43px;
$sprite-tw-offset-y: -44px;
$sprite-tw-width: 43px;
$sprite-tw-height: 44px;
$sprite-tw-total-width: 131px;
$sprite-tw-total-height: 88px;
$sprite-tw-image: '../img/sprite.png';
$sprite-tw: (43px, 44px, -43px, -44px, 43px, 44px, 131px, 88px, '../img/sprite.png', 'sprite_tw', );
$sprite-vimeo-name: 'sprite_vimeo';
$sprite-vimeo-x: 88px;
$sprite-vimeo-y: 0px;
$sprite-vimeo-offset-x: -88px;
$sprite-vimeo-offset-y: 0px;
$sprite-vimeo-width: 43px;
$sprite-vimeo-height: 44px;
$sprite-vimeo-total-width: 131px;
$sprite-vimeo-total-height: 88px;
$sprite-vimeo-image: '../img/sprite.png';
$sprite-vimeo: (88px, 0px, -88px, 0px, 43px, 44px, 131px, 88px, '../img/sprite.png', 'sprite_vimeo', );
$sprite-youtube-name: 'sprite_youtube';
$sprite-youtube-x: 88px;
$sprite-youtube-y: 44px;
$sprite-youtube-offset-x: -88px;
$sprite-youtube-offset-y: -44px;
$sprite-youtube-width: 43px;
$sprite-youtube-height: 44px;
$sprite-youtube-total-width: 131px;
$sprite-youtube-total-height: 88px;
$sprite-youtube-image: '../img/sprite.png';
$sprite-youtube: (88px, 44px, -88px, -44px, 43px, 44px, 131px, 88px, '../img/sprite.png', 'sprite_youtube', );
$spritesheet-width: 131px;
$spritesheet-height: 88px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-fb, $sprite-g-plus, $sprite-linkedin, $sprite-tw, $sprite-vimeo, $sprite-youtube, );
$spritesheet: (131px, 88px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
