<footer class="main-footer">
  <div class="main-footer__inner">


    <div class="container-fluid">
      <div class="row">

        <section class=" col-sm-6 col-lg-3 main-footer__item twetter-feeds">
          <h2 class="twetter-feeds__header main-footer__item-title">Twetter Feeds</h2>

          <div class="twetter-feeds__post">
            <p class="twetter-feeds__text">Check out this great theme item for</p>
            <a href="#" class="twetter-feeds__link">http://tadjalskfj.com</a>
            <time class="twetter-feeds__time">2 weeks ago</time>
          </div>

          <div class="twetter-feeds__post">
            <p class="twetter-feeds__text">Check out this great theme item for</p>
            <a href="#" class="twetter-feeds__link">http://tadjalskfj.com</a>
            <time class="twetter-feeds__time">2 weeks ago</time>
          </div>

          <div class="twetter-feeds__post">
            <p class="twetter-feeds__text">Check out this great theme item for</p>
            <a href="#" class="twetter-feeds__link">http://tadjalskfj.com</a>
            <time class="twetter-feeds__time">2 weeks ago</time>
          </div>

        </section>

        <section class="col-sm-6 col-lg-4 main-footer__item newsletter">
          <h2 class="newsletter__header main-footer__item-title">Newsletter</h2>
          <p class="newsletter__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perferendis ipsum atque natus illo id. Officia
            veniam repellat facilis quod.
          </p>
          <form action="" class="newsletter__form signup-form">
            <span class="signup-form__title">Your Email Address</span>
            <div class="signup-form__input-wrapper">
              <input type="text" class="signup-form__input">
            </div>
            <button class="signup-form__button">Sign Up</button>
          </form>
        </section>

        <section class="col-sm-6 col-lg-3 main-footer__item recent-projects">
          <h2 class="recent-projects__header main-footer__item-title">Recent Projects</h2>

          <div class="recent-projects__item">
            <p class="recent-projects__title">Sketchy Business Card</p>
            <a href="#" class="recent-projects__link">http://tadjalskfj.com</a>
            <time class="recent-projects__time">2 weeks ago</time>
          </div>

          <div class="recent-projects__item">
            <p class="recent-projects__title">Sketchy Business Card</p>
            <a href="#" class="recent-projects__link">http://tadjalskfj.com</a>
            <time class="recent-projects__time">2 weeks ago</time>
          </div>

          <div class="recent-projects__item">
            <p class="recent-projects__title">Sketchy Business Card</p>
            <a href="#" class="recent-projects__link">http://tadjalskfj.com</a>
            <time class="recent-projects__time">2 weeks ago</time>
          </div>

        </section>

        <section class=" col-sm-6 col-lg-2 main-footer__item footer-contacts">
          <h2 class="footer-contacts__header main-footer__item-title">Contacts</h2>

          <div class="footer-contacts__item footer-contacts__item--phone">
            <a href="tel:1-000-000-0000" class="footer-contacts__text">
              1-000-000-0000
            </a>
            <a href="tel:1-000-000-0000" class="footer-contacts__text">
              1-000-000-0000
            </a>
          </div>

          <div class="footer-contacts__item footer-contacts__item--mobile">
            <a href="tel:1-000-000-0000" class="footer-contacts__text">
              1-000-000-0000
            </a>
            <a href="tel:1-000-000-0000" class="footer-contacts__text">
              1-000-000-0000
            </a>
          </div>

          <div class="footer-contacts__item footer-contacts__item--email">
            <a href="mailto:abcdefg@hijs.dfh " class="footer-contacts__text">
              fjashfaf@jkfs.ckd
            </a>
            <a href="mailto:abcdefg@hijs.dfh " class="footer-contacts__text">
              abcdefg@hijs.dfh
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</footer>
