<div class="navbar-component">
    <!-- Class `area` is a container -->
    <div class="navbar-component__navbar area">
      <!-- Logo -->
      <a href="./index.html" class="navbar-component__brand"></a>
      <!-- List of links -->
      <nav role="navigation" id="navigation" class="navbar-component__list">
        <a href="./index.html" class="navbar-component__item navbar-component__link">Home</a>
        <a href="./portfolio.html" class="navbar-component__item navbar-component__link">Portfolio</a>
        <a href="./about.html" class="navbar-component__item navbar-component__link">About</a>
        <a href="./contact.html" class="navbar-component__item navbar-component__link">Contact</a>
        <a href="#" class="navbar-component__link--blog navbar-component__blog">Blog</a>

        <div class=" navbar-component__input-wrapper">
          <input type="search" placeholder="search" class="navbar-component__input">
          <i class="fa fa-search navbar-component__search-icon"></i>
        </div>
      </nav>
      <!-- Button to toggle the display menu  -->
      <button data-collapse data-target="#navigation" class="navbar-component__toggle">
        <!-- Hamburger icon -->
        <span class="navbar-component__hamburger-icon"></span>
      </button>
    </div>
  </div>
