
.company-description {
  text-align: center;
  &__inner {
    @include inner;
  }
  &__title {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: $accent-color-blue;
  }
  &__text {
    font-size: 14px;
    color: $font-color-light-Gray;
    display: none;
    &--bold{
      font-weight: bold;
      display: block;
    }
  }

  &__slogan {
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    color: $font-color-light-Gray;
    text-transform: uppercase;
    margin-bottom: 48px;

  }
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .company-description {
    &__title {
      font-size: 48px;

    }

    &__text {
      font-size: 16px;
      line-height: 1.8;
      display: block;
    }

    &__slogan {
      font-size: 35px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .company-description {
    &__title {
      font-size: 64px;
    }
    &__text {
      font-size: 16px;

    }


    &__slogan {
      font-size: 40px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .company-description {


    &__text {
      font-size: 18px;
      line-height: 1.5;

    }


    &__slogan {
      font-size: 50px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .company-description {


    &__title {
      font-size: 70px;
    }

    &__slogan {
      font-size: 65px;
    }
  }
}



