.company-features {
  border-top: 1px solid #d7d7d7;
  border-bottom: 3px solid #a5a5a5;

  &__inner {
    @include inner;
  }

  &__title {
    font-size: 24px;
    color: $accent-color-blue;
    margin-bottom: 8px;
  }
  &__description {
    font-size: 15px;
    color: $font-color-light-Gray;
  }

  &__item {
    text-align: center;
    position: relative;
    padding: 24px 8px 16px 8px ;

    margin-bottom: 8px;
    border: 1px solid #d7d7d7;
    margin: 0px 8px 8px 8px;
  }

  &__image-wrapper {
    margin: 0 auto;
    width: 80px;
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

  }
  &__image{
    margin: 0 auto;
  }
}


@media (min-width: 576px) {
  .company-features {
    &__item {
      margin: 0px 0px 8px 0px;
    }
    &__title {

      margin-bottom: 8px;
    }

    &__image-wrapper {
      width: 120px;
      height: 70px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .company-features {


    &__title {

      margin-bottom: 8px;
    }

    &__image-wrapper {
      width: 130px;
      height: 80px;
    }
    &__description {
      font-size: 17px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .company-features {
    &__item {
      margin-bottom: 0;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 8px;
    }
    &__description {
     line-height: 1.4;
    }


    &__image-wrapper {
      width: 140px;
      height: 90px;
    }
  }
}


