.contacts {

  &__text{
    display: block;
    margin: 0;
    & span {
      color: #0988b9;
      font-weight: bold;
    }
    &:hover,
    &:active {
      text-decoration: none;
    }

  }
  &__info {

    margin: 0 auto;
    margin-bottom: 40px;
    // padding-left: 55px;
  }
  &__item {

    position: relative;
    padding-left: 60px;
    margin-bottom: 16px;

    &--phone::before {
      content: url(../img/i-phone.png);
      position: absolute;
      left: 24px;
      top: 5px;
    }
    &--home::before {
      content: url(../img/i-home.png);
      position: absolute;
      left: 24px;
      top: 6px;
    }
    &--email::before {
      content: url(../img/i-mail.png);
      position: absolute;
      left: 24px;
      top: 9px;
    }
  }
  &__link {
    display: block;
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  &__map {
    // padding-left: 55px;
    margin-bottom: 45px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    & iframe{
      // left:55px;
      left: 0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }

  }

  &__social {
    margin-bottom: 16px;

  }
  &__social-title {
    font-size: 22px;
    color : $font-color-light-Gray;
    margin-bottom: 16px;
  }
  &__social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


  }
  &__social-link {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-bottom: 8px;
    &::nth-child(3) {
      break-after: always;
    }


  &--twitter{
    @include sprite($sprite-tw);
  }
  &--facebook{
    @include sprite($sprite-fb);
   }
  &--youtube{
    @include sprite($sprite-youtube);
   }
  &--vimeo{
    @include sprite($sprite-vimeo);
  }
  &--linkedin{
    @include sprite($sprite-linkedin);
  }
  &--google-plus{
    @include sprite($sprite-g-plus);
  }

  }
}


@media only screen and (min-width : 576px){
  .contacts {
    &__social {
      padding-left: 55px;

    }
    &__map {
      padding-left: 35px;

      & iframe{
       left:24px;

    }
  }

    &__social-icons {
      justify-content: center;
      margin-bottom: 16px;
    }
    &__social-title {
      font-size: 16px;
      text-align: center;
    }
    &__social-link {
      margin-right: 10px;

    }
  }

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .contacts {
    &__info{
      padding-left: 0;;
    }

    &__social {
      padding-left: 0px;
    }
    &__social-title {
      font-size: 14px;
      text-align: center;
    }

  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .contacts {
    &__social-title {
      font-size: 20px;
      text-align: center;
    }
  }
}
	/**/






