.contacts-description {
  text-align: center;
  margin-bottom: 24px;
  &__title {
    font-size: 36px;
    color: $accent-color-blue;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.6;
    color: $font-color-light-Gray;
  }
}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .contacts-description {
    margin-bottom: 36px;
    &__title {
      font-size: 44px;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 16px;

    }
  }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .contacts-description {
    margin-bottom: 40px;
    &__title {
      font-size: 48px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 17px;

    }
  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .contacts-description {
    margin-bottom: 50px;
    &__title {
      font-size: 56px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 18px;

    }
  }
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .contacts-description {
    margin-bottom: 72px;
    &__title {
      font-size: 64px;
      margin-bottom: 24px;
    }
    &__text {
      font-size: 19px;
      line-height: 1.6;

    }
  }
}
	/**/
