.feedback-form {
  &__inner{
    max-width: 90%;
  }
  position: relative;
  margin-bottom: 72px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 2px;
    height: 100%;
    background: rgba(#000000, 0.1);

  }

  &__title {
    font-size: 13px;
    margin-bottom: 24px;
  }
  &__input-required {
    color: #ff0000;
    margin-left: 4px;
  }
  &__input-title{
    margin-bottom: 8px;
    font-size: 13px;
    color: $font-color-light-Gray;
    text-transform: uppercase;
  }
  &__input-wrapper {
    margin-bottom: 28px;

  }
  &__input {
    width: 100%;
    border: 1px solid $font-color-light-Gray;
    outline: none;
  }
  &__text-area {
    width: 100%;
    border: 1px solid $font-color-light-Gray;
    min-height: 270px;
    outline: none;
  }
  &__button {
    display: block;
    margin-left: auto;
    width: 25%;
    background:$border-bottom-link;
    padding: 9px 14px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
     &:hover,&:focus {
      outline: none;
     }

  }
}




// ≥768px
@include media-breakpoint-down(sm) {
  .feedback-form {
    &__inner{
      max-width: 100%;
    }
    &__text-area {
      min-height: 100px;
    }
}
}

// ≥576px
@include media-breakpoint-down(xs) {

  .feedback-form {
    &::after {
      display: none;
    }
    &__text-area {
      min-height: 50px;
    }
  }
}
