.footer-contacts {
  font-size: 13px;
  &__header {
    margin-bottom: 24px;
  }
  &__text {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    color: #fff;
    &:hover,
    &:focus{
      text-transform: none;
      text-decoration: none;
      color: #12a3d6;

    }
  }
  &__item{
    position: relative;
    padding-left: 34px;
    margin-bottom: 30px;
    &--phone::before {
      content: url(../img/i-phone.png);
      position: absolute;
      top: 11px;
      left: 0;
    }
    &--mobile::before {
      content: url(../img/i-phone.png);
      position: absolute;
      top: 11px;
      left: 0;
    }
    &--email::before {
      content: url(../img/i-mail.png);
      position: absolute;
      top: 12px;
      left: 0;
    }

  }
}
