.customIndicators {
  // background: red;

  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
}

.customIndicators li {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;

  margin: 5px;
  padding: 0;
  cursor: pointer;
}

.customIndicators li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  color: #adadad;
  border: 0;
  outline: none;
  background: #adadad;
}

.customIndicators li button:hover,
.customIndicators li button:focus {
  outline: none;
}

.customIndicators li button:hover:before,
.customIndicators li button:focus:before {
  opacity: 1;
}

.customIndicators li button:before {
  font-family: 'slick';
  font-size: 1px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color:#2190c1;

  }

.customIndicators li.slick-active button:before {
  font-size: 40px;
  background: $accent-color-orange;
  border-radius: 50%;
  opacity: .75;
  color:#2190c1;
}





.home-slider {
  &__wrapeer {
    width: 100%;
  }
  width: 100%;
  &__item {
    background: url(../img/bg-slider.png) center center;
    background-size: cover;


  }
  &__caption {
    position: relative;
    @include inner;
    padding: 30px 35px 30px 35px ;
    text-align: center;
  }

  &__title {
    font-size: 26px;
    color: #cccece ;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  &__content {
    font-size: 14px;
    color: #cccece ;
    margin-bottom: 15px;

  }
  &__btn {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    background: $accent-color-orange;
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    margin-bottom: 10px;

  }
  &__dots {
    position: absolute;
    min-height: 20px;
    top: 5px;
    right:8px;
    z-index: 50;

  }
  &__item {
    height: 300px;
  }
}


/*==========  Mobile First  ==========*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){

  .home-slider {

    &__title {
      font-size: 40px;
    }
    &__item {
      height: 400px;
    }
    &__dots {
      top: 330px;
      right: 10%;;
    }
    &__btn {
      font-size: 21px;
      padding: 10px 48px;
    }
    &__caption {
      padding: 70px 80px 30px 80px ;
    }
    &__content{
      margin-bottom: 32px;
    }
  }

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .home-slider {

    &__title {
      font-size: 59px;
    }
    &__item {
      height: 400px;
    }

    &__caption {
      padding: 70px 100px 30px 100px ;
    }
  }

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .home-slider {

    &__caption {
      padding: 100px 110px 30px 110px ;
      text-align: center;
    }

    &__title {
      font-size: 80px;
      margin-bottom: 24px;
    }
    &__content {
      font-size: 14px;
      margin-bottom: 45px;

    }
    &__btn {
      font-size: 22px;
      padding: 16px 56px;
      margin-bottom: 130px;

    }
    &__item {
      height: 490px;
    }
    &__dots {
      top: 400px;
    }
  }
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
	/**/

