.main-footer {
  background: $bg-footer;
  color: $font-color-footer;
  padding-top: 44px;
  padding-bottom: 40px;
  &__inner {
    @include inner;
  }
  &__item-title {
    color: $accent-color-orange;
    text-transform: uppercase;
    font-size: 23px;
  }

}







// ≥576px
@include media-breakpoint-down(xs) {
  .main-footer {
    &__item {
      margin-bottom: 16px;
    }
  }

}
