.newsletter {

  &__header {
    margin-bottom: 24px;
  }
  &__text {
    font-size: 12px;
    border-bottom: 2px solid #556270;
    padding-bottom: 8px;
    margin-bottom: 12px;
    &:last-child {
      border-bottom: none;
    }
  }

}


.signup-form {
  display: flex;
  flex-direction: column;

  &__title {
    color: $border-bottom-link;
    margin-bottom: 16px;
    font-size: 13px;
  }
  &__input-wrapper {
    margin-bottom: 16px;
  }
  &__input {
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: none;
    padding-left: 8px;
    &:hover,&:focus {
      outline: none;
      border: none;

    }
  }
  &__button {
    align-self: flex-end;
    padding: 8px 16px;
    background: $border-bottom-link;
    border-radius: 3px;
    border: none;
    color: #fff;
    &:hover,&:focus {
      outline: none;
      border: none;
    }
  }
}
