.page-title {
  background: url(../img/bg-jumbatron.jpg);
  background-size: cover;
  min-height: 295px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  &__header {
    font-size: 80px;
    text-transform: uppercase;
    color: #cccece;
    margin-bottom: 0;
  }

}



// ≥992px
@include media-breakpoint-down(md) {
  .page-title{
    min-height: 290px;
    &__header {
      font-size: 76px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  .page-title{
    min-height: 250px;
    &__header {
      font-size: 64px;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .page-title{
    min-height: 150px;
    &__header {
      font-size: 48px;
    }
  }
}

