.person {
  width: 85%;
  margin: 0 auto;
    padding: 18px 14px 20px 10px;
    border: 1px solid #cccccc;
    margin-bottom: 8px;

  &__about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

  }

  &__photo {
    margin-right: 8px;
    background: #b5b5b5;
    width: 80px;
    height: 80px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__position {
    margin-top: 0;
    margin-bottom: 5px;
  }
  &__initial {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:$accent-color-blue;
  }
  &__email {
    margin-top: 0;
    color: $font-color-gray;
  }

  &__color-box {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }
  &__color-item {
    border-radius: 3px;
    width: 18px;
    height: 18px;
    &--lightblue{
      background: #00a1e4;
    }
    &--turquoise{
      background: #29aecb;
    }
    &--blue{
      background: #0481d9;
    }
    &--orange {
      background: #f7941d;
    }
  }

  &__description {
    margin: auto;
    text-align: center;
  }
}



@media (min-width: 576px) {
  .person {

    &__about {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

    }

    &__photo {
      margin-right: 8px;
      background: #b5b5b5;
      width: 70px;
      height: 70px;
    }

    &__info {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    &__position {
      font-size: 16px;
    }
    &__initial {
      font-size: 16px;
    }
    &__email {
      font-size: 16px;
    }

        &__color-item {
      border-radius: 3px;
      width: 18px;
      height: 18px;

    }

    &__description {
      font-size: 17px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .person {

    &__about {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

    }

    &__photo {
      margin-right: 8px;
      background: #b5b5b5;
      width: 90px;
      height: 90px;
    }

    &__info {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    &__position {
      font-size: 16px;
    }
    &__initial {
      font-size: 16px;
    }
    &__email {
      font-size: 16px;
    }

        &__color-item {
      border-radius: 3px;
      width: 18px;
      height: 18px;

    }

    &__description {
      font-size: 17px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .person {


    &__about {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

    }

    &__photo {
      margin-right: 8px;
      background: #b5b5b5;
      width: 90px;
      height: 90px;
    }

    &__info {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    &__position {
      font-size: 16px;
    }
    &__initial {
      font-size: 16px;
    }
    &__email {
      font-size: 16px;
    }

        &__color-item {
      border-radius: 3px;
      width: 18px;
      height: 18px;

    }

    &__description {
      font-size: 17px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .person {


    &__about {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

    }

    &__photo {
      margin-right: 8px;
      background: #b5b5b5;
      width: 90px;
      height: 90px;
    }

    &__info {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    &__position {
      font-size: 16px;
    }
    &__initial {
      font-size: 16px;
    }
    &__email {
      font-size: 16px;
    }

        &__color-item {
      border-radius: 3px;
      width: 18px;
      height: 18px;

    }

    &__description {
      font-size: 17px;
    }
  }
}

