.portfolio-navigation {

  display: flex;

  justify-content: space-between;
  align-items: center;

  &__inner {
    @include inner;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    &:hover {
      text-decoration: none;
      color: $accent-color-blue ;
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 25px;
      color: #000;
      top: 16px;
      right: 0;
      background: $font-color-light-Gray;
    }
    &--last {
      margin-right: 50px;
      &::before {
        content: "";
        display: none;
      }
    }
  }

  &__link {
    display: block;
    padding: 20px 25px;
    font-size: 15px;
    color: $font-color-light-Gray;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,&:active {
      text-decoration: none;
    }
    &.active{
      color: $accent-color-blue ;
      font-weight: bold;

    }
  }
  &__bars{
    font-size: 30px;
    & i {
    color: #aaaaaa;
    }
  }
  &__th{
    font-size: 30px;
    color: $accent-color-blue;
  }
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    margin: 0;
    display: none;
    color: $font-color-light-Gray;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    & i {
      position: absolute;
      left: 12px;
      top: 16px;
    }
  }

}

.portfolio-subnav {
  position: relative;


  &__list {
    z-index: 2;
    display: none;
    position: absolute;
    background: $accent-color-orange;
    padding: 0 11px ;
  }
  &:hover > .portfolio-subnav__list {
    display: block;
  }
  &__category {
    display: block;

    padding: 20px 70px 20px 20px;
    background: #2190c1;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #fff;
    }


  }

  &__item {
    border-bottom: 1px solid #fff;
    &:last-child {
      border-bottom : none;
    }
  }
  &__link {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: block;
    padding: 16px 80px 16px 11px;
    color: #fff;
    &::before {
      position: absolute;
      font-size: 30px;
      content: '•';
      top: 30%;
      right: 10%;
    }

    &:hover::before {
      color: $border-bottom-link;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
    }

  }
  &__label {
    display: none;
  }
  &__input {
    display: none;
  }


}


@media only screen and (max-width : 992px){
  .portfolio-subnav {
    &:hover > .portfolio-subnav__list {
      display: none;
    }

    display: none;

    &__list {
      width: 100%;
    }
    &__label {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: block;
      & .fa::before {
        content: "\f0d7";
        color: #fff;
      }
      & .fa {
        position: absolute;
        top: 24px;
        right: 88px;
      }
    }
    &__input:checked ~ &__list {
      display: block;
    }
    &__input:checked ~ &__label .fa::before {
      content: "\f0d8";
    }
  }

  .portfolio-navigation {
    display: none;
    &__list {
      display: none;

    }
    &__item {
      &:hover {
        background: lighten($color: $bg-nav-link, $amount: 40);
      }
      &::before {
      display: none;
      }

    }
    &__link {

    }
    &__bars{
      display: none;
    }
    &__th {
      display: none;
    }
    &__label {
      font-size: 15px;
      display: block;
      background: lighten($color: $accent-color-blue, $amount: 30);
      color: $font-color-light-Gray;
    }
    &__input:checked+&__label {
      background: $bg-nav-link;
      color: #fff;
    }
    &__input:checked ~ & {
      display: block;
    }
    &__input:checked ~ & &__list {
      display: block;
    }
    &__input:checked ~ & .portfolio-subnav {
      display: block;
    }
  }




}




/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .portfolio-navigation {
    &__label {
      font-size: 20px;
    }
  }
}
	/**/

