.portfolio-main {

  &__title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 28px;
    color: $accent-color-blue;
  }
  &__navigation {
    border-top: 1px solid #b3d5e4;
    border-bottom: 1px solid #b3d5e4;
    margin-bottom: 32px;

  }
}




/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .portfolio-main {
    &__title {
      margin-bottom: 12px;
      font-size: 34px;
    }
  }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .portfolio-main {
    &__title {
      margin-bottom: 16px;
      font-size: 50px;
    }
  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .portfolio-main {
    &__title {
      margin-bottom: 32px;
      font-size: 64px;
    }
  }
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .portfolio-main {
    &__title {
      margin-bottom: 40px;
      font-size: 72px;
    }
  }
}
	/**/
