.porfolio-carousel {
  &__inner {
    @include inner;

  }
}

.portfolio-slider {


  &__item {
    padding: 0 7px;
    margin-bottom: 16px;

  }

  &__img-wrapper {
    position: relative;
    background: #aaaaaa;
    border: 12px solid #fff;
    height: 230px;
  }
  &__details {
    position: absolute;
    display: none;
    text-align: center;
    padding: 30px 5px 0px 8px;

  }
  &__title {
    margin-bottom: 19px;
    font-size: 19px;
    color: #f0f0f0;
  }
  &__description {
    margin-bottom: 30px;
    font-size: 11px;
    color: #f0f0f0;
  }
  &__button {
    padding: 12px 40px;
    border: 2px solid #f0f0f0;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  &__img-wrapper:hover > .portfolio-slider__details {
    display: block;
  }


}


.portfolioIndicators {

  height: 100px;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}

.portfolioIndicators li {

  position: relative;
  display: inline-block;
  width: 20px;
  margin-right: 25px;
  margin-bottom: 8px;

}

.portfolioIndicators li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 15px;
  padding: 8px;
  border-radius: 10%;

  cursor: pointer;
  border: 0;
  outline: none;
  border-bottom: 6px solid #c1c1c1;
}

.portfolioIndicators li.slick-active button {

  font-size: 0;
  line-height: 0;
  display: block;
  cursor: pointer;
  border: 0;
  outline: none;
  background: $bg-nav-link;

}

.portfolioIndicators li button:hover,
.portfolioIndicators li button:focus {
  outline: none;
}

.portfolioIndicators li button:hover:before,
.portfolioIndicators li button:focus:before {
  opacity: 1;
}

// .portfolioIndicators li button:before {
//   font-family: 'slick';
//   font-size: 1px;
//   line-height: 20px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 20px;
//   height: 20px;
//   content: '•';
//   text-align: center;
//   opacity: .25;
//   color:#2190c1;

//   }

.portfolioIndicators li.slick-active button:before {
  font-size: 40px;
  background: $accent-color-orange;
  border-radius: 50%;
  opacity: .75;
  color:#2190c1;
}





/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .portfolioIndicators li {
    width: 25px;
    margin-right: 25px;


  }

  .portfolioIndicators li button {

    width: 15px;
    padding: 15px;
  }

}
	/**/

