.portfolio {
  // background:$bg-footer;
  padding-top: 30px;

  text-align: center;
  &__inner {
    @include inner;
    padding-top: 16px;

  }
  &__item {
    margin-bottom: 32px;
  }
  &__header {
    text-align: center;
    margin-bottom: 16px;
    color: $accent-color-orange;
    font-size: 30px;

  }

  &__btn {
    margin: auto;
    width: 70%;
    margin-bottom: 56px;
    padding: 10px 12px;
    color: #fff;
    background: $accent-color-blue ;
    border: none;
    border-radius : 5px;
  }

  &__picture-wrapper {
    width: 70%;
    margin: auto;
    height: 220px;
    padding: 10px;
    background:#fff;
    margin-bottom: 21px;
  }
  &__picture {
    background: #bebebe;
  }
  &__title {
    margin-bottom: 8px;
    color: $accent-color-orange;
    font-size: 26px;

  }
  &__description {
    font-size: 13px;
    color: #bcbcbc;

  }


}







.parallax {
  perspective: 1px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  background: url(../img/bg-paral.jpg);

  background-size: cover;
  background-attachment: fixed;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);

}


/*==========  Mobile First  ==========*/
/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .portfolio {
    &__description {
      font-size: 15px;
    }
  }
}
	/**/





/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .portfolio {
    text-align: center;
    &__header {
      text-align: left;

    }
    &__item {
      margin-bottom: 32px;
    }
    &__picture-wrapper {
      width: 100%;

    }
  }
}
	/**/


/* Large Devices, Wide Screens */

	/**/
