.portfolio-clients {
  border-top: 1px solid $accent-color-blue;
  border-bottom: 1px solid $accent-color-blue;
  padding-bottom: 30px;
  &__inner {
    @include inner;
  }
  &__title {
      font-size: 27px;
      text-align: center;
      margin-bottom: 29px;
      text-transform: uppercase;
      color: $accent-color-blue;
      padding-top: 30px;

  }
  &__item {
    color: #adadad;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    cursor: pointer;
    &:hover,&:focus {
      text-decoration: none;
      color: darken($color: #adadad, $amount: 50) ;
    }

    &:hover{
      background: $accent-color-blue;
      color: #fff;
    }
  }

}
