.recent-projects {
  font-size: 12px;
  &__header {
    margin-bottom: 24px;
  }
  &__item {
    position: relative;
    border-bottom: 2px solid #556270;
    padding-bottom: 8px;
    margin-bottom: 12px;
    padding-left: 66px;
    &:last-child {
      border-bottom: none;
    }
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0px;
      width: 56px;
      height: 56px;
      background: #fff;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    color: $border-bottom-link
  }

}

// ≥992px
@include media-breakpoint-down(md) {
.recent-projects {
  &__item {
    width: 60%;
  }
}
}
// ≥768px
@include media-breakpoint-down(sm) {
  .recent-projects {
    &__item {
    font-size: 13px;
      width: 70%;
  }
}
}
// ≥576px
@include media-breakpoint-down(xs) {
  .recent-projects {
    &__item {
    font-size: 13px;
      width: 100%;
  }
}
}
