.services {
  &__inner {
    @include inner;

  }

  &__header {
    margin-bottom: 42px;
    font-size: 13px;
    color: #fff;
    background: $accent-color-blue ;
    text-transform: uppercase;
    padding: 8px 24px;
    margin: auto;
    margin-bottom: 32px;
    margin-top: -54px;
    border-radius: 5px;
    z-index: 5;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  &__logo {
    margin-bottom: 27px;
    width: 70px;
    height: 70px;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 17px;
    color: $font-color-light-Gray;
  }
  &__link {
    color: #3e9dd1;
  }
}


/*==========  Mobile First  ==========*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .services {
    &__item {
      padding: 0px 20%;
    }
    &__header {
      font-size: 22px;
    }
    &__logo {
      margin-bottom: 22px;
      width: 80px;
      height: 80px;
    }
  }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .services {
    &__item {
      padding: 0px 40px;
    }
    &__logo {
      margin-bottom: 24px;
      width: 90px;
      height: 90px;
    }
  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .services {
    &__item {
      padding: 0;
    }
    &__logo {
      margin-bottom: 22px;
      width: 100px;
      height: 100px;
    }
  }
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .services {
    &__item {
      padding: 0;
    }
    &__logo {
      margin-bottom: 22px;
      width: 118px;
      height: 118px;
    }
  }
}
