.team {
  padding-bottom: 20px;
  padding-top: 16px;
  &__inner {
    @include inner;
  }
  &__header {
    margin: auto;
    text-transform: uppercase;
    font-size: 24px;
    color: $accent-color-blue;
    margin-bottom: 32px;
  }
}


@media (min-width: 576px) {
  .team{
    padding-bottom: 40px;
    padding-top: 24px;

    &__header {
    font-size: 32px;
    margin-bottom: 32px;
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .team{
    padding-bottom: 60px;
    padding-top: 30px;

    &__header {
    font-size: 40px;
    margin-bottom: 36px;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .team{
    padding-bottom: 80px;
    padding-top: 40px;

    &__header {
    font-size: 46px;
    margin-bottom: 44px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .team{
    padding-bottom: 100px;
    padding-top: 48px;

    &__header {
    font-size: 50px;
    margin-bottom: 48px;
    }
  }
}
