.testimonialsIndicators {

  height: 100px;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}

.testimonialsIndicators li {

  position: relative;
  display: inline-block;
  width: 75px;
  height: 100%;
  margin-right: 5px;

}

.testimonialsIndicators li button {
  background: url(../img/i-testimonials-slider.png) no-repeat top  center;

  font-size: 0;
  line-height: 0;
  display: block;
  width: 74px;
  height: 100%;
  cursor: pointer;
  border: 0;
  outline: none;
  border-bottom: 6px solid #c1c1c1;
}

.testimonialsIndicators li.slick-active button {
  background: url(../img/i-testimonials-slider-active.png) no-repeat top  center;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 74px;
  height: 100%;
  cursor: pointer;
  border: 0;
  outline: none;
  border-bottom: 6px solid $accent-color-orange;
}

.testimonialsIndicators li button:hover,
.testimonialsIndicators li button:focus {
  outline: none;
}

.testimonialsIndicators li button:hover:before,
.testimonialsIndicators li button:focus:before {
  opacity: 1;
}

// .testimonialsIndicators li button:before {
//   font-family: 'slick';
//   font-size: 1px;
//   line-height: 20px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 20px;
//   height: 20px;
//   content: '•';
//   text-align: center;
//   opacity: .25;
//   color:#2190c1;

//   }

.testimonialsIndicators li.slick-active button:before {
  font-size: 40px;
  background: $accent-color-orange;
  border-radius: 50%;
  opacity: .75;
  color:#2190c1;
}





.testimonals-slider {

  width: 100%;
  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;

  }
  &__content {
    width: 90%;
    margin: auto;
    display: block;
    font-size: 25px;
    color: $font-color-light-Gray;
    margin-bottom: 56px;
  }
  &__position {
    font-size: 14px;
    font-weight: bold;
    color: $accent-color-orange ;
  }
  &__dots {
    margin: 0 auto;
    // position: absolute;
    // top: 240px;
    // left: 38%;
    // z-index: 2 ;
  }

}


/*==========  Mobile First  ==========*/

