
.testimonials {
  background: #f4f4f4;

  &__inner {
    @include inner;
    padding-top: 32px;
    position: relative;
  }
  &__header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: $accent-color-blue;
    border-top: 3px solid #bebebe;
    padding-top: 30px;
    &--portfolio {
      border: none;
    }
  }

}
.amenities {
  &__item {
    display: flex;
    flex-direction: column;

  }
  &__header {
    position: relative;
    text-align: center;
    font-size: 32px;
    color: $accent-color-blue;
    text-transform: uppercase;
    margin-bottom: 24px;

  }
  &__content {
    text-align: center;
    font-size: 15px;
    color: $font-color-light-Gray;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 24px;
    color: $accent-color-blue;
    margin-bottom: 8px;

  }
  &__description {
    font-size: 11px;
    color: $font-color-light-Gray;
    margin-bottom: 10px;
  }
  &__button {

    width: 100%;
    padding: 8px 10px;
    color: #fff;
    background:$accent-color-blue;
    border: none;
    border-radius : 5px;
    margin-bottom: 32px;
  }


}

/*==========  Mobile First  ==========*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px){
  .amenities {
    &__content {
      margin: auto;
      margin-bottom: 40px;
    }
    &__description {
      font-size: 14px;
      color: $font-color-light-Gray;
      margin-bottom: 10px;
    }
  }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .amenities {
    &__content {
      margin: auto;
      margin-bottom: 40px;
      line-height: 1.4;
      font-size: 20px;
    }
    &__button {
      align-self: flex-end;
      width: 30%;
    }
  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
	/**/

