.twetter-feeds {
  font-size: 12px;
  &__header {
    margin-bottom: 24px;
  }
  &__post {
    border-bottom: 2px solid #556270;
    margin-bottom: 12px;
    &:last-child {
      border-bottom: none;
    }
  }
  &__text {

    padding: 0;
    margin: 0;
  }
  &__link {
    display: block;
    color: $border-bottom-link;
  }
  &__time {
    display: block;
    margin-bottom: 8px;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
.twetter-feeds {
  font-size: 13px;
  &__post{
    width: 60%;
  }
}
}

// ≥768px
@include media-breakpoint-down(sm) {
  .twetter-feeds {
    font-size: 13px;
    &__post{
      width: 70%;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .twetter-feeds {
    font-size: 13px;
    &__post{
       width: 100%;
    }
  }
}
