.verification {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
  &__code {
    width: 100%;
    border: 1px solid $font-color-light-Gray;
  }
  &__image-wrapper {
    width: 60%;
    height: 50px;
    background: url("../img/verification-code.jpg") no-repeat center;
    background-size: cover ;
  }
  &__code-input{

    width: 35%;
    p{
      font-size: 13px;
      margin: 0;
    }
  }

}
